<div class="container d-flex justify-content-center h-100 align-items-center">
  <div class="col-12 col-md-4 ">
    <div class="card shadow-effect">
        <div class="card-header py-4 text-center my-bg-secondary">
          <a routerLink="/dashboard">
            <span>
              <img alt="logo" height="50" src="./../../../../assets/logo.png">
            </span>
          </a>
        </div>
        <div class="card-body d-flex flex-column justify-content-center">
            <div class="w-100 text-center text-error mt-4 pb-4">
              4  
              <span class="bi bi-emoji-frown-fill"></span>
              4
            </div>
            <div class="text-center w-75 m-auto mb-4">
                <h4 class="text-center pb-0 fw-bold text-dark-50 pb-4">Page non trouvée</h4>
                <p class="text-muted">Il semblerait que tu te sois égaré(e) jeune entrepreneur.</p>
            </div>
            <button class="btn my-bg-primary text-light mb-3" routerLink="/dashboard" style="width: fit-content; margin:auto;">Retourne à la maison</button>
        </div>
    </div>
  </div>
</div>

