.custom-drive-iframe {
    width: 100%; /* Largeur de l'iframe */
    height: 600px; /* Hauteur de l'iframe */
    border: 2px solid var(--secondary-color); /* Bordure personnalisée */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre personnalisée */
    margin-bottom: 20px; /* Espacement en bas de l'iframe */
    /* Autres styles personnalisés */
  }