<div style="max-width: 400px;">
    <div mat-dialog-content>
        <p>Es-tu sûr(e) de vouloir supprimer cette entrée?</p>
    </div>
    <div mat-dialog-actions>
        <div class="d-flex align-items-center justify-content-end">
            <button  mat-dialog-close="No" class="btn me-2 btn-outline-success">
                <i class="bi bi-x-lg"></i>
            </button>
            <button mat-dialog-close="Yes" class="btn btn-outline-danger">
                <i class="bi bi-check2"></i>
            </button>
        </div>
    </div>
</div>

