<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                2023 © 
                <a href="#" class="btn pl-0" style="color:var(--secondary-color)">Julienor</a>
            </div>
            <div class="col-md-6">
                <div class="container-fluid d-none d-md-flex justify-content-md-end gap-2">
                    <a href="#" class="btn right-side-buttons">Support</a>
                    <a href="#" class="btn right-side-buttons">Aide</a>
                    <a href="#" class="btn right-side-buttons">Contact</a>
                </div>
            </div>
                            
        </div>
    </div>
</footer>

